body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url('images/background.jpeg');
	background-attachment: fixed;
	background-size: cover;
}

.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h2{
	font-family: "Arial";
	font-weight:bold;
	text-align: left;
	font-size: 40px;
	border-bottom: 4px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 14px;
	width: 80%;
	/*float: left;*/
	margin: 0 10px;
}
.fa{
	margin-right: 5px;
}
.eye{
	position: absolute;
}
#hide1{
	display:none;
}

.btn{
	width: 100%;
	background: #4caf50;
	border: 2px solid #4caf50;
	color: black;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	margin: 12px 0;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.btn:hover {
  background-color: none;
  color: white;
}
.message{
	text-align: right;
	font-size: 12px;
	margin-bottom: 10;
}
.wrong-input {
	border: 1px solid red;
	animation: shake 0.5s;
	animation-iteration-count:2;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
	div{
		min-width: 300px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	div{
		max-width:600px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	div{
		max-width:768px;
	}
}
/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
	div{
		max-width:992px;
	}

}
/*Extra large devices (large laptops and desktops,1200px and up) */
@media only screen and (min-width: 1200px)
{
	div{
		max-width: 1200px;
	}

}
