* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: optima sans-serif;
	color:#384047;
	background: url("images/background.jpeg"),no-repeat;
	background-size: cover;
	max-width: 100%;
    overflow-x: hidden;
}

.banner {
	width: 100%;
	display: block;

}

.banner > .banner-image {
	width: 100%;
	display: block;
}

#title h1 {
	background: rgba(71, 104, 85, 0.8);
	text-shadow: 1px 1px 10px #A3B3AA;
	font-size: 3em;
	font-family: optima;
	color: white;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	border: 3px solid black;
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	border-collapse: collapse;
	
}

table th {
	border: 3px solid black;
	background-color: #1A432B;
	color: white;
	padding: 30px;
	text-align: center;
}

table td {
	width:100%;
	background-color: #E4F6E7;
	padding: 20px;
}

table td:hover {
	background-color: #d5e6d8;
}


.btn-info {
	background-color: yellow;
	border: 1px solid yellow;
	border-radius: 4px;
	color: black;
	padding: 20px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
}

.btn-danger {
	background-color: red;
	border: 1px solid red;
	border-radius: 4px;
	color: black;
	padding: 14px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	float:right;
}

.form-group {
	margin-top: 10px;
	padding-left: 40%;
	font-weight: bold;
}
 
input[type=text] {
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=date] {
	width: 25%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.btn-primary {
	width: 45%;
	background-color: #D73B55;
	color: black;
	padding: 5px;
	#margin: 8px 0;
	border: 1px solid black;
	border-radius: 2px;
	cursor: pointer;
}

.btn-info2 {
	width: 50%;
	background-color: #E3E31D;
	color: black;
	padding: 5px;
	#margin: 8px 0;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
}

button[type=submit]:hover {
	font-weight: bold;
}

.topButton {
	float: right;
}



@media screen and (min-width: 480px){
	table {
		max-width:100%;
	}
}